
@{
    ViewBag.Title = "Login";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body style="padding-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3" style="margin-top:150px">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="row" align="center">
                            <img src="~/Images/VerserLogo.png" style="width:50%" />
                            @using (Html.BeginForm("submit", "login", FormMethod.Post))
                            {
                               
                                <p style="color:mediumpurple;font-size:medium;font-weight:600;padding:10px;">  NUmobile Orders </p>
                                <div class="col-lg-12">
                                    <div class="input-group col-lg-8 col-lg-offset-1">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" name="username" id="username" tabindex="1" style="align-items:stretch" class="form-control" placeholder="Username">
                                    </div><br />

                                    <div class="input-group col-lg-8 col-lg-offset-1">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    </div><br />

                                    <div class="form-group col-lg-6 col-lg-offset-3">
                                        <br />
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" style="background-color:grey;border:none">
                                    </div>
                                </div>

                                <div>
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        <p style="color:red;padding-left:60px;">@TempData["ErrorMessage"].ToString()</p>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    body {
        padding-top: 0px;
    }

/*    .panel-login {
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    }*/

        .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
            height: 45px;
            border: 1px solid #ddd;
            font-size: 16px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }


    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }

        .btn-login:hover,
        .btn-login:focus {
            color: #333;
            background-color: darkorange !important;
        }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
